html {
  height: 100%;
  width: 100%;
  background-color: #030303;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.quiz {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 100px;
}

.buttons {
  margin-bottom: 100px;
}

h1 {
  width: 500px;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  color: white;
}

.quizButton {
  text-align: center;
  border: none;
  border-color: white;
  background: white;
  border-radius: 1px;
  margin: 0;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  width: 800px;
  height: 50px;
}

@media (max-width: 850px) {

  .question {
    margin-bottom: 30px;
  }

  .buttons {
    margin-bottom: 30px;
  }

  h1 {
    width: 500px;
    font-size: 32px;
  }

  .quizButton {
    font-size: 24px;
    white-space: wrap;
    width: 500px;
    height: 100px;
  }

}

@media (max-width: 500px) {

  .question {
    margin-bottom: 20px;
  }

  .buttons {
    margin-bottom: 20px;
  }

  h1 {
    width: 300px;
    font-size: 24px;
  }

  .quizButton {
    font-size: 16px;
    white-space: wrap;
    width: 300px;
    height: 100px;
  }

}